<br>
<h3 align="center" class="paragraf_text">
    Pratite kretanje autobusa
</h3>
<br><br>
  <div class="row">
    <div class="col-sm-2">Linija:</div>
    <div class="col-sm-5">
        <select [(ngModel)]="selectedLine" (change)="onSelectionChangeNumber($event)" class="form-control">
            <option value="">-- Izaberi liniju --</option>
            <option *ngFor="let lin of linijeZaView" [value]="lin">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
    </div>

        <div class="col-sm-2">
            <button class="btn btn-primary" (click)="OnGetPolasci()">Prati</button>
        
        </div>
        <div>
            <button class="btn btn-outline-danger" (click)="Stop()">Prekini</button>
        
        </div>
      </div>
        <br>
       <div align="center">
        <!-- <button (click)="JsonParsiranje()" >Json</button> -->
      <agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="15">

        <agm-marker *ngFor="let marker of markeri" [latitude]="marker.location.latitude"
          [longitude]="marker.location.longitude" [iconUrl]="marker.icon" [title]="marker.title" [label]="marker.label">
        </agm-marker>

        <agm-marker *ngIf="autobusMarker" [latitude]="autobusMarker.location.latitude"
          [longitude]="autobusMarker.location.longitude" [iconUrl]="autobusMarker.icon">
        </agm-marker>

        <agm-marker *ngFor="let point of polylineMoje.path" [latitude]="point.latitude" [longitude]="point.longitude"
          [iconUrl]="polylineMoje.icon"></agm-marker>
      </agm-map>
    </div>
    
  <!--<app-karta></app-karta>-->
