<br><br><br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-4">
      <select [(ngModel)]="selectedTip" class="form-control">
          <option *ngFor="let t of karte">
            {{ t }}
          </option>
        </select>
  </div>
  <div class="col-sm-3">
      <button (click)="getCenaKarte()" class="btn btn-outline-primary">Prikazi cenu ove karte!</button>
  </div>
</div>

  <br><br>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-3">Cena karte: {{ cena }}</div>
  </div>

  <br />
  <br>
  <br />
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <button (click)="kupiKartu()" class="btn btn-success">Kupi kartu!</button>
    </div>
    <div *ngIf="cena1 != ''; else logOut">
      <app-paypal [cenaKarte]="cena1"></app-paypal>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <br>
          
  <br/>
  {{ kupljena }}