<nav class="navbar navbar-dark bg-dark mb-lg-12 ">
  <a class="navbar-brand" href="/">JGSP - NOVI SAD</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav col-xs-6">
        <!-- <a class="navbar-brand" href="#">
            <img src="C:\Users\boske\OneDrive\Desktop\slika\logo.png" alt="." style="width:40px;">
          </a> -->
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/redvoznje"
        >REDOVI VOŽNJE</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/map"
        >MREŽE LINIJA</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/location"
        >TRENUTNE LOKACIJE VOZILA</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/cenovnik"
        >CENOVNIK</a
      >
      <!-- <a
        *ngIf="!jwtIsUndefined()"
        class="nav-item nav-link"
        href="http://localhost:4200/login"
        >PRIJAVI SE/REGISTRUJ SE</a
      > -->
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/line"
        >UREDI LINIJE</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/stationEdit"
        >UREDI STANICE</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/timetableEdit"
        >UREDI REDOVE VOŽNJE</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/priceListEdit"
        >UREDI CENOVNIK</a
      >
      <a
        *ngIf="jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/verificateUser"
        >VERIFIKOVANJE KORISNIKA</a
      >
      <a
        *ngIf="jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/cardVerification"
        >VALIDACIJA KARTE</a
      >
      <a
        *ngIf="jwtIsUndefined()"
        class="nav-item nav-link"
        href="http://localhost:4200/profil"
        >MOJ PROFIL</a
      >
      <a
        *ngIf="jwtIsUndefined()"
        class="nav-item nav-active"
        (click)="logout()"
        href="http://localhost:4200/login"
        >ODJAVI SE</a
      >
      
    </div>
    
  </div>
  <ul class="nav navbar-nav navbar-right">

      <li><a href="http://localhost:4200/register"><span class="glyphicon glyphicon-user"></span>Registruj se!</a></li>
        <br/>  
      <li><a href="http://localhost:4200/login"><span class="glyphicon glyphicon-log-in"></span>Prijavi se!</a></li>
  </ul>
</nav>
