<br />
<br />
<div>
  <div class="row">
    <div class="col-sm-2">Red voznje:</div>
    <div class="col-sm-4">
      <select
        class="form-control"
        id="rv"
        [(ngModel)]="selectedTeritorija"
      >
        <option value="1" selected="">Gradski</option>
        <option value="2">Prigradski</option>
      </select>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-2">Dan</div>
    <div class="col-sm-4">
      <select class="form-control" id="dan" [(ngModel)]="selectedDan">
        <option value="1" selected="">Radni dan</option>
        <option value="2">Subota</option>
        <option value="3">Nedelja</option>
      </select>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-2">Linija:</div>
    <div class="col-sm-6">
      <select id="linija" class="form-control" [(ngModel)]="selectedLinija">
        <option value="1" selected="">1 KLISA-CENTAR-LIMAN I</option>
        <option value="2">2 CENTAR - NOVO NASELJE</option>
        <option value="3">3 PETROVARADIN-CENTAR-DETELINARA</option>
        <option value="4">4 LIMAN IV - CENTAR - Z.STANICA</option>
        <option value="5">5 TEMERINSKI PUT-CENTAR-AVIJATIČAR.NASELJE</option>
        <option value="6">6 PODBARA-CENTAR-ADICE</option>
        <option value="7">7A N.NASELJE-Z.STAN-F.PIJA-LIMAN4-N.NASELJE</option>
        <option value="8">8 NOVO NASELJE-CENTAR-LIMAN I</option>
        <option value="9">9 NOVO NASELJE - LIMAN - PETROVARADIN</option>
        <option value="10">10 CENTAR-INDUST.ZONA JUG</option>
      </select>
    </div>
    <div class="col-sm-2">
        <button
        class="btn btn-primary"
        id="blue-button"
        (click)="onGetPrikazPolazaka()"
      >
        Prikazi
      </button>
    </div>
  </div>
  <hr />

  <div>
    
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
      Polasci sa stanice:
  </div>
  <div class="col-sm-5 alert-info">
      {{ polasci }}
  </div>
</div>



