<h1 align="center"><b>ISPIS (BRISANJE) LINIJE I PRIKAZ NJENIH STANICA </b></h1>
<hr>
<div class="row">
  <div class="col-sm-2">Izbor linije:</div>
  <div class="col-sm-5"><select [(ngModel)]="selectedLine" class="form-control">
      <option *ngFor="let t of lines">
        {{t}} 
      </option>
    </select>
  </div>
  <div class="col-sm-3"><button (click)="getSelectedLine()" class="btn btn-primary"> Prikazi liniju! </button>
  </div>
</div>

<br/>
<br/>


<div class="profile-form">
  <form [formGroup]="lineForm">
    <div class="form-group">
      <div class="row">
      <label for="SerialNumber" class="col-sm-2 col-form-label">Redni broj:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="SerialNumber" id="SerialNumber"> 
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" (click)="deleteSelectedLine()"> Obrisi liniju </button>
      </div>
    </div>
    </div>
  </form>
<br/>
  <hr>
<br/>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <select [(ngModel)]="selectedStation" class="form-control">
            <option *ngFor="let t of stations">
              {{t}} 
            </option>
          </select>
    </div>
    <div class="col-sm-3">
        <button (click)="getSelectedStation()" class="btn btn-outline-primary"> Prikazi stanicu! </button>
    </div>
  </div>

 
  <br/>
  <form [formGroup]="stationForm">
    <div class="form-group row">
      <label for="Name" class="col-sm-2 col-form-label">Ime stanice:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Name" id="Name"> 
      </div>
      <label for="Address" class="col-sm-2 col-form-label">Adresa:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Address" id="Address"> 
      </div>
      <label for="X" class="col-sm-2 col-form-label">X:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="X" id="X"> 
      </div>
      <label for="Y" class="col-sm-2 col-form-label">Y:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Y" id="Y"> 
      </div>
    </div>
  </form>
</div>
<br/>
<hr>
<br/>
<h1 align="center"><b>DODAVANJE LINIJA</b></h1>
<br/>
<br/>
<div class="row">
  <div class="col-sm-2">
      <label>Redni broj:</label>
  </div>
  <div class="col-sm-3">
      <select [(ngModel)]="stationAddSelected" class="form-control">
          <option *ngFor="let t of stationToChose">
            {{t}} 
          </option>
        </select>
  </div>
  <div class="col-sm-2">
      <select [(ngModel)]="selectedLine" class="form-control">
          <option *ngFor="let l of lines">
            {{l}} 
          </option>
        </select>
  </div>
  <div class="col-sm-3">
      <button (click)="addStation()" class="btn btn-outline-success"> Dodaj stanicu u liniju </button>
  </div>
  <div class="col-sm-2">
      <button (click)="AddLine()" class="btn btn-outline-success"> Dodaj Liniju </button>
  </div>
</div>

<!-- <div class="col-sm-10">
  <input type="text" [(ngModel)]="serNum" name="serNum" id="serNum"> 
</div> -->


<br/>
  
<br/>
<br/>
  
<br/>